openapi: 3.0.0
info:
  title: 'CSMobile API'
  description: 'API do sistema CSMobile'
  contact:
    email: fale_com_lopez@hotmail.com
  version: 1.0.0
servers:
  -
    url: 'https://csmobile.com.br/api'
    description: 'CSMobile Host'
paths:
  /api/v1/auth:
    post:
      tags:
        - auth
      description: 'Realiza a autenticação do usuário'
      operationId: 'Spa\Http\Controllers\Api\V1\AuthController::login'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  description: 'E-mail do usuário'
                  type: string
                  format: email
                password:
                  description: 'Senha do usuário'
                  type: string
                  format: password
              type: object
      responses:
        '401':
          description: 'Erro de autenticação'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: 'Response Ok'
          content:
            application/json:
              schema:
                properties:
                  data: { description: 'Response data', properties: { access_token: { description: 'O token de login do usuário', type: string }, expires_in: { description: 'Define o tempo de expiração do token', type: integer } }, type: object }
                type: object
  /api/v1/auth/logout:
    post:
      tags:
        - auth
      description: 'Realiza o logout do usuário'
      operationId: 'Spa\Http\Controllers\Api\V1\AuthController::logout'
      responses:
        '200':
          description: 'Response Ok'
      security:
        - bearer
components:
  schemas:
    ErrorResponse:
      description: 'Retorna uma mensage de erro para o usuário'
      properties:
        meta:
          description: 'Defines response metadata'
          properties:
            code:
              description: 'Código da resposta Http'
              type: integer
            message:
              description: 'Mensagem de erro a ser exbida ao usuário'
              type: string
          type: object
      type: object
  securitySchemes:
    bearer:
      type: http
      bearerFormat: JWT
      scheme: bearer
